<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/grid.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/owl-carousel.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style="clear: both; text-align:center; position: relative;"><a
            href="http://windows.microsoft.com/en-US/internet-explorer/.."><img
            src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
            alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a>
    </div>
    </html>
    <script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/device.min.js"></script>
</head>
<body>
<div class="page">
    <header>
        <h1 class="brand"><a href="./">Original <span class="text-primary">Tent Store</span></a></h1>
        <ul class="inline-list">
            <li><a href="#" class="icon icon-xs fa-facebook"></a></li>
            <li><a href="#" class="icon icon-xs fa-twitter"></a></li>
            <li><a href="#" class="icon icon-xs fa-google-plus"></a></li>
        </ul>
        <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
                <li class="active">
                    <a href="#home"></a>
                </li>
                <li>
                    <a href="#about"></a>
                </li>
                <li>
                    <a href="#features"></a>
                </li>
                <li>
                    <a href="#description"></a>
                </li>
                <li>
                    <a href="#product"></a>
                </li>
                <li>
                    <a href="#testimonials"></a>
                </li>
                <li><a href="#contacts"></a></li>
            </ul>
        </nav>
    </header>
    <!--
    ========================================================
                                CONTENT
    ========================================================
    -->
    <main class="main">
        <section id="home" class="well-2 z-index bg-image-1 bg-image--skin-1 flex flex-center relative text-center text-lg-left">
            <div class="container-fluid" style="top: 200px;">
                <div class="row ">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-1 max-width-xl">
                        <h1 class="text-white">The Original Sunshade</h1>
                        <a href="#" class="btn btn-secondary fa-lg fa-shopping-cart aria-hidden="true"">

                          Shop now!</a>
                    </div>
                </div>
                </div>
        </section>

        <section id="about" class=" bg-image-2 z-index bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row well-2">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-7 max-width-xl">
                        <h1>Sand Bags Instead of Stakes / Wind resistant.</h1>
                        <a href="#"
                            class="btn btn-primary fa-lg fa-shopping-cart aria-hidden="true"">  Shop
                        now!</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="well-2 bg-image-3 z-index bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
                        <h1>Best Beach Solution</h1>

                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-card_travel"></div>
                            </div>
                            <div class="box-body">
                                <p>Fabric: Designed using the innovative Sensitive® Fabrics with UPF +50,that filter the sun's rays. offering a higher level of protection against
the damaging effects of ultraviolet rays.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-timer"></div>
                            </div>
                            <div class="box-body">
                                <p>Sand Anchor: An anchor allowing optimal holding in the beach sand and is used as supporting weight. The sand anchor is built in a square shape which becomes a sand bag after filling it with sand. The fabric allows stretching to adjust the amount of sand.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-primary icon-sm material-icons-invert_colors"></div>
                            </div>
                            <div class="box-body">
                                <p>Supporting Poll: Supporting poll made of coated iron. Comes in three different sizes compatible poll head for fabric.</p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-secondary fa-lg fa-shopping-cart aria-hidden="true"">  Shop
                            now!</a>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </section>

        <section id="description" class="text-center text-white flex flex-center
          <div class="container-fluid well-2  max-width-xl" vide" data-vide-bg="video/video-bg01">>
                    <h1 class="text-white">Description with video</h1>
                    <div class="row offset-1">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                            <p>Innovative life style solutions </p>
                        </div>
                    </div>
                </div>
        </section>
        <section id="product" class="well-2 z-index bg-image-4 bg-image--skin-1 flex flex-center text-center text-lg-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-7">
                        <h1>Extremely Easy To Set Up </h1>

                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-card_travel"></div>
                            </div>
                            <div class="box-body">
                                <p>Spread the fabric. For best shading results we recommend setting the shade up towards the wind's direction</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-timer"></div>
                            </div>
                            <div class="box-body">
                                <p>Fill the sand bags.he sand bags (the anchors) should be filled to their maximum capacity.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-left">
                                <div class="icon icon-secondary icon-sm material-icons-invert_colors"></div>
                            </div>
                            <div class="box-body">
                                <p>Place the poles. Place the soft end of the support pole under the fabric. The fabric's pressure will compress the poles into the sand and stabilizes the shade.</p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary fa-lg fa-shopping-cart aria-hidden="true"">  Shop
                            now!</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="testimonials" class="text-center relative bg-primary">
            <div class="container-fluid relative well-2 z-index  bg-primary inset-1">
                <h1>What people say?</h1>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="owl-carousel">
                            <div class="item">
                                <blockquote class="quote">
                                    <div class="img"><img src="images/page-1_img02.jpg" alt="" class="circle"></div>
                                    <p>
                                        <q>Apple Watch is good, but better suited on the wrists of early adopters and
                                            boutique shop regulars. It's
                                            convenient but there's a learning curve you have to overcome and a high
                                            price that some people won't be
                                            able to get around.</q>
                                    </p>
                                    <cite>Devid</cite>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="quote">
                                    <div class="img"><img src="images/page-1_img03.jpg" alt="" class="circle"></div>
                                    <p>
                                        <q>As an early adopter of these products, I’ve pretty much seen them all and
                                            used many of them myself, ever since the original Fitbit which didn’t even
                                            have an app for years (which I was actually fine with). My boyfriend thinks
                                            I’m nuts, but whatever, over the years, we’ve both seen a real impact that
                                            these things have made in my life.</q>
                                    </p>
                                    <cite>Lisa</cite>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="quote">
                                    <div class="img"><img src="images/page-1_img04.jpg" alt="" class="circle"></div>
                                    <p>
                                        <q>AdI’ve tried most of the main activity trackers out there - going all the way
                                            back to the Fitbit Ultra (which broke), the Fitbit One, the Jawbone UP, and
                                            most recently tried the Fitbit Flex - I’ve stopped using it now that I’ve
                                            lost the charger twice and have been too lazy to call in to get a another
                                            charger. So, I decided to try the Shine! </q>
                                    </p>
                                    <cite>Amanda</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contacts" class="text-center flex">
            <div class="container-fluid relative flex-center bg-contrast z-index well-2">
                <h1>Contact Us</h1>
                <!-- RD Mailform -->
                <form class='rd-mailform' method="post" action="bat/rd-mailform.php">
                    <!-- RD Mailform Type -->
                    <input type="hidden" name="form-type" value="contact"/>
                    <!-- END RD Mailform Type -->
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                                <label data-add-placeholder>
                                    <input type="text"
                                           name="name"
                                           placeholder="Name:"
                                           data-constraints="@NotEmpty @LettersOnly"/>
                                </label>

                                <label data-add-placeholder>
                                    <input type="text"
                                           name="email"
                                           placeholder="E-mail:"
                                           data-constraints="@NotEmpty @Email"/>
                                </label>

                                <label data-add-placeholder>
                            <textarea name="message" placeholder="Message:"
                                      data-constraints="@NotEmpty"></textarea>
                                </label>

                                <div class="mfControls btn-group text-center">
                                    <button class="btn btn-md btn-primary" type="submit">Send</button>
                                </div>

                                <div class="mfInfo"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- END RD Mailform -->

            </div>
        </section>
    </main>
</div>
<script src="js/script.js"></script>
<!-- coded by Kirk-->
</body>
</html>
