<footer class="container" style="margin-top: 100px; margin-bottom: 50px" >
    <p class="copyright">FUNS OUTDOOR © <span id="copyright-year"></span> All Rights Reserved
        <!-- {%FOOTER_LINK} -->

    </p>


</footer>
