  <header>
    <h1 class="brand"><a href="./">Promotinal <span class="text-primary">Product</span></a></h1>
    <ul class="inline-list">
        <li><a href="#" class="icon icon-xs fa-facebook"></a></li>
        <li><a href="#" class="icon icon-xs fa-twitter"></a></li>
        <li><a href="#" class="icon icon-xs fa-google-plus"></a></li>
    </ul>

</header>
